body {
  text-align: center;
  font-family: Arial;
  background: #111;
  color: #fff;
}
input, button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
}
button {
  background: #00ff66;
  border: 0;
  color: black;
  font-weight: bold;
}
