/* Global */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #0d0d0d;
  color: white;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  padding: 15px 20px;
  box-shadow: 0 2px 10px black;
}

.logo {
  color: #00ff99;
  font-size: 24px;
  font-weight: bold;
}

nav a {
  margin: 0 12px;
  color: #ccc;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  color: white;
}

.auth-buttons button {
  margin-left: 8px;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}

.login-btn {
  background: #00ff99;
  color: black;
}

.register-btn {
  background: white;
  color: black;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 70px 20px;
  background: linear-gradient(140deg, #0f0f0f, #131313, #1a1a1a);
}

.hero h1 {
  font-size: 35px;
  color: #00ff99;
}

.hero p {
  font-size: 18px;
  margin: 10px 0;
  color: #ccc;
}

.start-btn {
  margin-top: 15px;
  padding: 12px 25px;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  background: #00ff99;
  color: black;
}

/* Game Cards Section */
.games {
  padding: 30px 20px;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 15px;
}

.card {
  background: #1b1b1b;
  padding: 25px 10px;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0 0 10px #000;
}

/* Sports */
.sports {
  padding: 30px 20px;
}

.match {
  background: #1c1c1c;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.match button {
  padding: 8px 15px;
  background: #00ff99;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  color: black;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #111;
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}
